.background_Home{
    background: url("../tools/ok7.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar_Menu{
    background-color: hsl(0deg 0% 100%);
    width: 100%;
    height: 85px;
    display: flex;
}

/*Logo*/

.pokelogo{
    width: 100px;
}

/*Name App*/

.namePage{
    color: #c70f0f;
    margin: 0 400px 0 23px;
    line-height: 60px;
    font-family: 'Pokemon Solid';
    -webkit-text-stroke: 2px rgba(0, 4, 255, 0.54);
    font-size: 3rem;
}

/*Cards*/
.container_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    justify-self: center;
}