
.input {
    position: relative;
    display:flex;
    justify-content:flex-end;
    width: 100%;
    padding: 17px;
    top: -8px;
    left: 10px;
}
.inputName {
    width: 69%;
    height: 3rem;
    border-radius: 8px;
    font-family: 'VT323', monospace;
    font-size: 1.5rem; 
    padding-left: 15px ;
    font-weight: 600;
}

.button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
.buttonImage{
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
}
.buttonImage:hover {
    background-color: #fe0000;
    transition: 0.5s;
}